*
{
font-family: tahoma;
	color: Orange;
}

h1,h2
{
	text-decoration:underline;
	text-align:center;
	text-shadow:2px 1px 3px gray;
	color: Orange;
}
 
body
{
	Background-image: url("Fond.jpg");
	
}

ul,li
{
		text-align: center;
			color: Orange;
				text-decoration:underline;
}

section
{
	border: 10px solid black;
    margin-left: 5%;
	margin-right: 5%;
    margin-top: 5%;
	margin-bottom: 5%;
	 Background-color: white;
	 opacity: 0.95;
}

p
{
	text-align: center;
	font-weight:bold;
	    margin-left: 20%;
	margin-right: 20%;
}

img
{
    display: block;
	margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  border: 5px solid black;

}

.HXH-Gon
{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  border: 5px solid black;
  border-radius: 5px;

}

.Retour
{
	Border: 5px solid black;
	Background-color: #333333;
	  margin-left: 40%;
  margin-right: 40%;

}

.Retour a:hover
{
	Background-color: green;
}

.TexteG

{
 color: #FF8C00;
 text-decoration: underline;
}



















